div.cfc-play-main-panel {
    position            : relative;
    margin-top          : 5px;
    margin-bottom       : 5px;

    border-style        : solid;
    border-width        : 2px;
    border-radius       : 10px;

    padding-top         : 5px;
    padding-bottom      : 5px;
    padding-left        : 5px;
    padding-right       : 5px;
    
    height              : 50vh;
}

div.cfc-player-one {

    border-style        : solid;
    border-width        : 1px;
    border-radius       : 10px;

    padding-left        : 5px;
    padding-right       : 5px;

    width               : 45%;
    max-width           : 45%;
    height              : 100%;
    
    float               : left;
}

div.cfc-player-between { 
    
    margin-left         : 5px;
    border-style        : solid;
    border-width        : 1px;
    border-radius       : 10px;

    padding-left        : 0px;
    padding-right       : 0px;

    width               : 7.7%;
    height              : 100%;  
    float               : left;

    text-align          :center;
}
div.cfc-player-two {

    border-style        : solid;
    border-width        : 1px;
    border-radius       : 10px;

    padding-left        : 5px;
    padding-right       : 5px;

    width               : 46%;
    height              : 100%;  

    float               : right;
    
}

div.cfc-player-two.drag-hint-border {
    border-style        : dashed;
    border-width        : 2px;
    border-color        : #ffbC05 dashed  2px;
}

div.boxDeck {
    background-color: #7a6400;
    /*border          : solid 3px; */
    
}

div.deckAndDrawnCardsZone{
    padding-top: 5px;
}

div.defenseCardsZone{
    padding-top: 5px;
    padding-bottom: 5px;
}

div.boxCard {
    background-color: #b9e4e7;
    font-size: 8pt;
    margin-left : 5px;
}

div.boxCard.defense{
    padding: 5px; 
    border: solid 1px rgb(255, 251, 3)
}


div.boxCard.heal{
    padding: 5px; 
    border: solid 1px rgb(3, 255, 37)
}

div.boxCard.offense{
    padding: 5px; 
    border: solid 1px rgb(255, 3, 3)
}