div.cfc-play-main-panel {
    position            : relative;
    margin-top          : 5px;
    margin-bottom       : 5px;

    border-style        : solid;
    border-width        : 2px;
    border-radius       : 10px;

    padding-top         : 5px;
    padding-bottom      : 5px;
    padding-left        : 5px;
    padding-right       : 5px;
    
    height              : 50vh;
}

div.cfc-player-one {

    border-style        : solid;
    border-width        : 1px;
    border-radius       : 10px;

    padding-left        : 5px;
    padding-right       : 5px;

    width               : 45%;
    height              : 100%;
    
    float               : left;
}

div.cfc-player-between { 
    
    margin-left         : 5px;
    border-style        : solid;
    border-width        : 1px;
    border-radius       : 10px;

    padding-left        : 0px;
    padding-right       : 0px;

    width               : 7.7%;
    height              : 100%;  
    float               : left;
}
div.cfc-player-two {
    
    
    

    border-style        : solid;
    border-width        : 1px;
    border-radius       : 10px;

    padding-left        : 5px;
    padding-right       : 5px;

    width               : 46%;
    height              : 100%;  

    float               : right;
    
}